.philosophy{
    max-height: 500px;
    background-image: linear-gradient(to right,	rgb(48,48,48),rgb(96,96,96),rgb(120,120,120),rgb(169,169,169),rgb(245,245,245));
}
.top{
    top: 15%;
    color: aliceblue;
    padding-left: 10%;
}
.text{
    /* position: absolute;
    top: 25%; */
    color: aliceblue;
    line-height: 30px;
    font-size: 18px;
}
h2{
    text-align: center;
    padding-top: 20px;
}
.btn{
    font-size: 20px;
}
.safety img{
    padding-left: 15%;
    padding-top: 10%;
}
input{
    border: none;
    border-bottom: solid;
    appearance: none;
    margin: 3%;
}
.view{
    padding-left: 280px;
}
.regist{
    text-align: center;
}