.img_logo{
    width: 50%;
    padding-left: 37%;
    padding-top: 5%;
}
.nav_container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.content{
    text-align: center;
}

.model{
    width: 100%;
    padding-left: 5%;
}

.footer{
    background-color: rgb(0, 2, 4);
    color: aliceblue;
}
.footer_container{
    max-width: 2100px;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;

}
.anchor{
    text-decoration: none;
    color: aliceblue;
    
}
ul li{
    list-style-type: none;
    font-size: 12px;
    line-height: 34px;
}
.inline-block ul li{
    display: inline-block;
    margin: 1px;
}
.bottom p{
    padding-left: 10%;
    padding-top: 30px;
  max-width: 1500px;
    color: aliceblue;
}
.bottom h4{
    padding-left: 10%;
    color: aliceblue;
}
.header_text{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    word-spacing: 15px;
    padding: 10px;
}
.but_img{
    width: 30px;
    align-items: start;
}
.app_button{
    margin-left: 210px;
}




