.model{
    width: 100%;
    padding-left: 5%;
}

.footer{
    background-color: rgb(0, 2, 4);
    color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
}
.footer_container{
    max-width: 2000px;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;

}
.anchor{
    text-decoration: none;
    color: aliceblue;
    
}
ul li{
    list-style-type: none;
    font-size: 12px;
    line-height: 34px;
}
.inline-block ul li{
    display: inline-block;
    margin: 1px;
}
.bottom p{
    padding-left: 10%;
    padding-top: 30px;
  max-width: 1500px;
    color: aliceblue;
}
.bottom h4{
    padding-left: 10%;
    color: aliceblue;
}

